<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wzl.sbc.prod.dao.mapper.ArticlePersionClassificationMapper">
  <resultMap id="BaseResultMap" type="cn.wzl.sbc.prod.model.ArticlePersionClassification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="persion_classification" jdbcType="VARCHAR" property="persionClassification" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="last_modified_user" jdbcType="VARCHAR" property="lastModifiedUser" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, persion_classification, create_time, create_user, last_modified_time, 
    last_modified_user, remark
  </sql>

  <select id="queryArticlePersionClassificationByPage" resultMap="BaseResultMap">
    select * from sbc_article_persion_classification
    <where>
      <if test="userName != null">
       and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="persionClassification != null">
        and persion_classification = #{persionClassification,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="isPaging == true">
      limit #{start},#{pageSize}
    </if>
  </select>

  <select id="queryArticlePersionClassification" resultMap="BaseResultMap">
    select * from sbc_article_persion_classification
    <where>
      <if test="userName != null">
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="persionClassification != null">
        and persion_classification = #{persionClassification,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <insert id="insertArticlePersionClassfication">
    insert into sbc_article_persion_classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="persionClassification != null">
        persion_classification,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="lastModifiedUser != null">
        last_modified_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="persionClassification != null">
        #{persionClassification,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedUser != null">
        #{lastModifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateArticlePersionClassfication">
    update sbc_article_persion_classification
    <set>
      <if test="persionClassification != null">
        persion_classification = #{persionClassification,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedUser != null">
        last_modified_user = #{lastModifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      <if test="userName != null">
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="id != null">
       and  id = #{id,jdbcType=INTEGER}
      </if>
    </where>
  </update>



  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sbc_article_persion_classification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sbc_article_persion_classification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wzl.sbc.prod.model.ArticlePersionClassification">
    insert into sbc_article_persion_classification (id, user_name, persion_classification, 
      create_time, create_user, last_modified_time, 
      last_modified_user, remark)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{persionClassification,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{lastModifiedTime,jdbcType=TIMESTAMP}, 
      #{lastModifiedUser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.wzl.sbc.prod.model.ArticlePersionClassification">
    insert into sbc_article_persion_classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="persionClassification != null">
        persion_classification,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time,
      </if>
      <if test="lastModifiedUser != null">
        last_modified_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="persionClassification != null">
        #{persionClassification,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedTime != null">
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedUser != null">
        #{lastModifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wzl.sbc.prod.model.ArticlePersionClassification">
    update sbc_article_persion_classification
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="persionClassification != null">
        persion_classification = #{persionClassification,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedTime != null">
        last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedUser != null">
        last_modified_user = #{lastModifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wzl.sbc.prod.model.ArticlePersionClassification">
    update sbc_article_persion_classification
    set user_name = #{userName,jdbcType=VARCHAR},
      persion_classification = #{persionClassification,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      last_modified_user = #{lastModifiedUser,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
</mapper>