<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wzl.sbc.chatboard.dao.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="cn.wzl.sbc.model.chatboard.Comment">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_modify_datetime" jdbcType="TIMESTAMP" property="lastModifyDatetime" />
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, user_name, comment, create_time, last_modify_datetime
    </sql>

    <sql id="Page_Sql">
        <if test="userId != null">
            and user_id = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="userName != null">
            and   user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="comment != null">
            and  comment = #{comment,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and  create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastModifyDatetime != null">
            and  last_modify_datetime = #{lastModifyDatetime,jdbcType=TIMESTAMP}
        </if>
    </sql>



    <!--查询分页数据-->
    <select id="listCommentByPage" resultMap="BaseResultMap">
        select * from sbc_comment
            <where>
              <include refid="Page_Sql"></include>
            </where>
              order by last_modify_datetime desc
              limit #{start},#{pageSize};
    </select>

    <!--查询记录数-->
    <select id="getCountByPage" resultType="java.lang.Integer">
        select count(*) from sbc_comment
        <where>
            <include refid="Page_Sql"></include>
        </where>
    </select>

    <!--按条件查询留言-->
    <select id="listCommentByCondition" resultMap="BaseResultMap">
        select * from sbc_comment
        <where>
            <include refid="Page_Sql"></include>
        </where>
    </select>

    <!--插入留言板-->
    <insert id="insertComment">
        insert into sbc_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>








  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sbc_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sbc_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.lottery.bean.Comment">
    insert into sbc_comment (id, user_id, user_name, 
      comment, create_time, last_modify_datetime
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.lottery.bean.Comment">
    insert into sbc_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyDatetime != null">
        last_modify_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDatetime != null">
        #{lastModifyDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.lottery.bean.Comment">
    update sbc_comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDatetime != null">
        last_modify_datetime = #{lastModifyDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.lottery.bean.Comment">
    update sbc_comment
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_datetime = #{lastModifyDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
</mapper>